<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Juegos</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <header>
    <div class = "buttons">
        <a href="Home" class =" btn-1">Inicio</a>
    </div>
  </header>
  <body>
    <div class="container page-container">
      <section>
        <h2>Acerca de Nosotros</h2>
        <p>Somos una tienda dedicada a ofrecerte la mejor experiencia en juegos. Contamos con una amplia selección de títulos para todas las plataformas, desde clásicos hasta los lanzamientos más recientes.</p>
        <p>Explora nuestra tienda y descubre emocionantes aventuras que te mantendrán entretenido durante horas.</p>
      </section>

      <section>
        <h2>Ventas de Juegos</h2>
        <p>Ofrecemos una variedad de juegos para todas las edades y gustos. Ya sea que prefieras juegos de acción, aventuras épicas o desafíos estratégicos, ¡tenemos algo para ti!</p>
        <p>Beneficios de comprar con nosotros:</p>
        <ul>
          <li>Selección diversa de juegos.</li>
          <li>Descuentos exclusivos para miembros.</li>
          <li>Envío rápido y seguro.</li>
          <li>Soporte al cliente dedicado.</li>
        </ul>
      </section>

      <section>
        <h2>Términos y Condiciones</h2>
        <p>Antes de realizar una compra, te recomendamos revisar nuestros términos y condiciones. Estos términos detallan nuestras políticas de venta, devolución y privacidad. Al realizar una compra, aceptas estos términos.</p>
        <p>Para obtener más información, visita nuestra página de <a href="">Términos y Condiciones</a>.</p>
      </section>
    </div>
  </body>
</html>
