<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>juegos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<header>
    <div class = "buttons">
        <a href="Home" class =" btn-1">Inicio</a>
    </div>
</header>
<body>
    <section class = "popular container">
        <h2>Mas vendidos</h2>
   
        <div class = "popular-content">
           <img src="images/g1.jpg" alt="">
           <img src="images/g2.jpg" alt="">
           <img src="images/g3.jpg" alt="">
           <img src="images/g4.jpg" alt="">
           <img src="images/g5.jpg" alt="">
          
        </div>
       </section>

       <section class = "popular container">
        <h2>Juegos Populares Del Mes</h2>
   
        <div class = "popular-content">
            <img src="images/g7.jpg" alt="">
            <img src="images/l1.jpg" alt="">
            <img src="images/l2.jpg" alt="">
            <img src="images/l3.jpg" alt="">
            
       </section>
</body>
</html>